# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

METAPATH="${TOPDIR}/../poky"

BBLAYERS ?= " \
  ${METAPATH}/meta \
  ${METAPATH}/meta-poky \
  ${METAPATH}/meta-yocto-bsp \
  ${METAPATH}/meta-tegra \
  ${METAPATH}/meta-tegra/contrib \
  ${METAPATH}/meta-sol \
  "