[Unit]
Description=Starts TX2i power monitoring on boot
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/bin/tegra-pwrmon.py
ExecStop=
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
